@import "./../../variables.scss";

.container_cards{
    width: 100%;
    height: auto;
    padding: 0%;
    margin: auto;
}

.contact_card{
    width: 100%;
    margin: 0 auto;
    padding: 80px 0 0 0;
    max-width: 1300px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3.5em;
    flex-wrap: wrap;
}

.title_section_cards{
    color: #343D3F;
    opacity: 1;
    letter-spacing: 1.5px;
    font-weight: bolder;
    padding-left: 140px;
    font-size: 60px;
    margin-top: 215px;
    margin-bottom: 60px;
}

hr{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    color: #343d3f55;
    background-color: #343d3f56;
    opacity: 0.5;
}

.contact_card__paragrph{
    margin-bottom: 20px;
    letter-spacing: 0.26px;
    opacity: 0.7;
    font-size: 26px;
}

.social_media_container{
    display: flex;
    justify-content: space-between;
}

.contact_social{
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.contact_social li{
    margin-right: 60px;
}

.contact_social img{
    margin-top: 20px;
    width: 60px;
    height: 60px;
}

.contact_card__item{
    flex-basis: 370px;
    max-width: 550px;
    min-height: 250px;
    height: auto;
    flex-grow: 1;
    margin-left: 80px;
}

.contact_card__content_features{
    width: 70%;
    height: 250px;
    margin: 0 auto;
    text-align: start;
}

.contact_card__texts{
    height: 250px;
}

.contact_card__content{
    width: 100%;
    margin: 0 auto;
}

.contact_card__title{
    margin-bottom: 1.3em;
    font-family:'Sans Bold';
    font-weight: bold;
    color: #343D3F;
    opacity: 1;
    font-size: 40px;
}


.p_marginTop{
    padding-top: 1.5em;
    color:#273058;
    opacity: 1;
    font-size: 26px;
    letter-spacing: 0.26px;
    font-weight: bolder;
}

.email{
    font-weight: bolder;
    color: #343D3F;
    font-size: 26px;
}

.social_media_container_p{
    width: 100%;
    color: #343D3F;
    opacity: 1;
    font-size: 26px;
    font-weight: bolder;
    opacity: 0.7;
}

.contact_section_card_jobs{
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3.5em;
    flex-wrap: wrap;
    padding: 50px 0;
}

.contact_job{
    padding: 15px 0 15px 0;
    margin: 20px;
    border: 0.5px solid #343d3f00;
}

.container_background_img{
    width: 100%;
    height: 550px;
    background-image: url("../../../img/Group\ 484/Group 484@2x.png");
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}


.container_background_img h2, .container_background_img h3{
    color: #FFFFFF;
    letter-spacing: 2.4px;
    text-align: center;
    opacity: 1;
    font-weight: lighter;
}

.container_background_img h2{
    font-size: 60px;
    margin: 0 0 20px 0
}

.container_background_img h3{
    font-size: 30px;
}

.background_circle{
    padding-right: 165px;
    background: transparent;
    background: -moz-linear-gradient(top, transparent 0%, transparent 51%, #FFFFFF 51%, #FFFFFF 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(51%, transparent), color-stop(51%, #FFFFFF), color-stop(100%, #FFFFFF));
    background: -webkit-linear-gradient(top, transparent 0%, transparent 51%, #FFFFFF 51%, #FFFFFF 100%);
    background: -o-linear-gradient(top, transparent 0%, transparent 51%, #FFFFFF 51%, #FFFFFF 100%);
    background: -ms-linear-gradient(top, transparent 0%, transparent 51%, #FFFFFF 51%, #FFFFFF 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 51%, #FFFFFF 51%, #FFFFFF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='transparent', endColorstr='#FFFFFF', GradientType=0 );
}

.container_small_circle{
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 60px;
    right:0;
}

.background_circle img{
    float: right;
    width: auto;
    height: 100%;
}

@media (max-width: 1366px) {
    .background_circle{
        padding-right: 120px;
    }
}

@media (max-width: 800px) {
    .background_circle{
        padding-right: 50px;
    }
}

.span_bold{
    font-size: 60px;
    font-weight: bolder;
    color: #FFFFFF;
    letter-spacing: 2.4px;
    text-align: center;
    opacity: 1;
}

.h3_marginTop{
    margin-top: 30px ;
    padding-top: 0%;
}


/*---MediaQuerys---*/
@media (max-width:1919) {

}

@media (max-width:1630px) {
    .contact_section1, .contact_section_job_Openings{
        padding-left: 190px;
        padding-right: 190px;
    }
}

@media (max-width:1480px) {
    .contact_section1, .contact_section_job_Openings{
        padding-left: 180px;
        padding-right: 180px;
    }
}

@media (max-width:1200px) {
    .contact_section1, .contact_section_job_Openings{
        padding-left: 150px;
        padding-right: 150px;
    }
}

@media (max-width:1160px) {
    .contact_section1, .contact_section_job_Openings{
        padding-left: 130px;
        padding-right: 130px;
    }
}

@media (max-width:850px) {
    .contact_section1, .contact_section_job_Openings{
        padding-left: 100px;
        padding-right: 100px;
    }
    .contact_card__item{
        max-width: 100%;
    }
    .contact_section1_div_imgCircle{
        display: none;
    }
    .container_background_img h2{
        padding-top: 100px;
        font-size: 40px;
    }
    .container_background_img h3{
        font-size: 25px;
    }
    .span_bold{
        font-size: 40px;
    }
    .container_background_img{
        display: block; 
    }
}

@media (max-width:680px) {
    .contact_section1, .contact_section_job_Openings{
        padding-left: 80px;
        padding-right: 80px;
        text-align: center;
    }
}

@media (max-width:650px) {
    .container_background_img h2{
        padding-top: 70px;
    }
    .container_background_img h3{
        display: none;
    }
    .title_section_cards{
        padding-left: 80px;
    }
}

@media (max-width:500px) {
    .contact_section1, .contact_section_job_Openings{
        padding-left: 40px;
        padding-right: 40px;
    }
    .title_section_cards{
        padding-left: 40px;
        font-size: 50px;
    }
}

@media (max-width:480px) {
    .container_background_img h2{
        font-size: 30px;
    }
    .container_background_img h3{
        font-size: 20px;
    }
    .span_bold{
        font-size: 30px;
    }
    .contact_card__item{
        margin-left: 40px;
    }
}

@media (max-width:420px) {
    .contact_section_job_Openings_page-item_divCategory_span{
        border-radius: 5px;
    } 
    .title_section_cards{
        padding-left: 20px;
    }
}