/*--Seccion Details Job--*/
.container_details_div{
    width: 100%;
    height: auto;
    padding-left: 80px;
    padding-right: 85px;
    padding-top: 100px;
    padding-bottom: 150px;
}

.container_details_div_h1{
    color: white;
    font-size: 100px;
    margin-bottom: 25px;
}

.container_details_div_h3{
    width: auto;
    color: #FFFFFF;
    font-size: 34px;
    margin-bottom: 50px;
}

.h3_opacity{
    color: #ffffff64;
    font-weight: lighter;
}

.container_details_div_span{
    color: #F9C216;
    font-size: 34px;
    margin-bottom: 50px;
    margin-left: 30px;
}

.span_opacity{
    font-weight: bolder;
}

.container_details_div_imgCircle{
    float: right;
    margin-top: 55px;
}

.container_details_div_divCategory{
    width: 30%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px;
}

.container_details_div_divCategory_span{
    border: 1px solid #F9C216;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color:  #FFFFFF;
    margin-left: 10px;
}

.container_inputs_files{
    display: flex;
}

.input_drop{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 70px;
    opacity: 0.3;
    border-radius: 10px 0px 0px 10px;
    font-size: 20px;
    position: relative;
    width: 50%;
    background-color: #FFFFFF;
    border: 2px dashed #868482;
    border-right: none;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.input_drop::before {
    content: "Drag and drop files here or";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
}

.input_drop::-webkit-file-upload-button {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.input_browse{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 70px;
    opacity:1;
    background-color: #FFFFFF;
    border-radius: 0px 10px 10px 0px;
    font-size: 20px;
    position: relative;
    width: 50%;
    border: 2px dashed #86848251;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: none;
}

.input_browse::before {
    content: "Browse files";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 10px 0 10px;
    background-color: #FFFFFF;
    color:#1f30b7;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
    border-radius: none;
}

.input_browse::-webkit-file-upload-button {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    border-radius: none;
}

/*--Seccion About Job and Aplication --*/
.container_aboutJob_aplication{
    width: 100%;
    height: auto;
    padding-left: 140px;
    padding-right: 165px;
    margin-top: 0px;
    justify-content: center;
}

.container_aboutJob_aplication_grid_container{
    width: 100%;
    height: auto;
    margin-top: 10%;
    margin-bottom: 100px;
    display: flex;
}

.container_aboutJob_aplication_divLeft{
    width: 50%;
    padding-right: 38px;
    float: left;
}

.container_aboutJob_aplication_divRight{
    float: right;
    width: 50%;
}

.container_aboutJob_aplication_divLeft_h2fist{
    padding-top: 0%;
    margin-top: 0%;
    color: #343D3F;
}


.container_aboutJob_aplication_divLeft h2, .container_aboutJob_aplication_divRight h2{
    margin-bottom: 20px;
    margin-top: 20px;
    color: #343D3F;
}

.container_aboutJob_aplication_divLeft_flex{
    display: flex;
}

.container_aboutJob_aplication_divLeft p{
    padding-bottom: 50px;
    font-size: 20px;
    opacity: 0.7;
}

.container_aboutJob_aplication_divLeft li{
    font-size: 20px;
}

.container_aboutJob_aplication_divLeft_flex_divs{
    width: 50%;
}

.container_aboutJob_aplication_divLeft_flex_ul{
    list-style-image: url('../img/Ellipse\ 1//Ellipse 1.png');
}

.container_aboutJob_aplication_divLeft_flex_ul li{
    margin-bottom: 20px;
    padding-left: 10px;
}


/* Form */
.container_aboutJob_aplication_divRight_form{
    width: 100%;
    border: 1px solid #343d3f24;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.container_aboutJob_aplication_divRight_form label{
    color:  #343D3F;
    font-size: 20px;
}

.form_containerInputs{
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(8, auto);
    grid-gap: 10px;
}

.container_aboutJob_aplication_divRight_form input[type="text"],
input[type="email"], input[type="url"], textarea, select{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 45px;
    width: 50%;
    opacity: 0.3;
    border-radius: 10px;
    border: 1px solid #343d3f88;
    font-size: 20px;
    width: 100%;
}

textarea{
    max-width: 100%;
    height: 120px;
}

.container_aboutJob_aplication_divRight_form_item{
    display: flex;
    flex-direction: column;
    margin-right: 28px;
}

.button_knowMore{
    text-align: end;
    margin-bottom: 40px;
}


@media (max-width: 1366px) {
    .container_details_div_divCategory{
        width: 40%;
    }
    .container_aboutJob_aplication_divLeft{
    padding-right: 20px;
    }
    .container_aboutJob_aplication_divLeft P{
        font-size: 18px;
    }
    .container_aboutJob_aplication_divRight_form{
        padding-left: 20px;
        padding-right: 10px;
    }
    .container_aboutJob_aplication_divRight_form label{
        font-size: 18px;
    }
    .container_aboutJob_aplication_divRight_form input[type="text"],
    input[type="email"], input[type="url"], textarea, select{
    font-size: 18px;
    }
    .input_browse{
        font-size: 18px;
    }
    .input_drop{
        font-size: 18px;
    }
    .form_containerInputs{
        padding: 5px;
        grid-gap: 5px;
    }
}

@media (max-width: 1360px){
    .container_aboutJob_aplication_grid_container{
        display: block;
    }
    .container_aboutJob_aplication_divLeft{
        width: 100%;
        clear: both;
    }
    .container_aboutJob_aplication_divRight{
        margin-top: 100px;
        padding-bottom: 150px;
        clear: both;
        width: 60%;
        width: 100%
    }
}

@media (max-width: 1080px){
    .container_details_div_divCategory{
        width: 70%;
    }
}

@media (max-width: 1000px){
    .form_containerInputs{
        display: inline-block;
    }
}

@media (max-width: 840px) {
    .container_aboutJob_aplication_divLeft_flex{
        display: block;
    }
    .container_aboutJob_aplication_divLeft_flex_divs{
        width: 100%;
    }
    .container_details_div{
        padding-left: 30px;
        padding-right: 30px;
    }
    .container_aboutJob_aplication{
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width: 700px){
    .container_details_div_divCategory{
        width: 80%;
    }
    .container_aboutJob_aplication{
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media (max-width: 610px){
    .container_details_div_divCategory{
        width: 100%;
    }
}

@media (max-width: 530px){
    .container_details_div_divCategory_span{
        padding: 5px;
    }
    .container_aboutJob_aplication{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 470px){
    .container_aboutJob_aplication_divRight_form{
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 400px){
    .container_details_div_divCategory{
        grid-gap: 5px;
    }
    .container_details_div_divCategory_span{
        margin-left: 5px;
    }
}

@media (max-width: 400px){
    .container_details_div_divCategory{
        grid-gap: 0px;
    }
    .container_details_div_divCategory_span{
        margin-left: 5px;
        font-size: 15px;
    }
}



