.background_circle{
    padding-right: 165px;
    background: transparent;
    background: -moz-linear-gradient(top, transparent 0%, transparent 51%, #FFFFFF 51%, #FFFFFF 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, transparent), color-stop(51%, transparent), color-stop(51%, #FFFFFF), color-stop(100%, #FFFFFF));
    background: -webkit-linear-gradient(top, transparent 0%, transparent 51%, #FFFFFF 51%, #FFFFFF 100%);
    background: -o-linear-gradient(top, transparent 0%, transparent 51%, #FFFFFF 51%, #FFFFFF 100%);
    background: -ms-linear-gradient(top, transparent 0%, transparent 51%, #FFFFFF 51%, #FFFFFF 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 51%, #FFFFFF 51%, #FFFFFF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='transparent', endColorstr='#FFFFFF', GradientType=0 );
}

.container_small_circle{
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: -50px;
    right:0;
}

.background_circle img{
    float: right;
    width: auto;
    height: 100%;
}

@media (max-width: 1366px) {
    .background_circle{
        padding-right: 120px;
    }
}

@media (max-width: 800px) {
    .background_circle{
        padding-right: 50px;
    }
}